async-timeout==4.0.2
Authlib==0.15.5
blinker==1.4
cffi==1.15.0
click==8.0.4
cryptography==36.0.1
decorator==5.1.1
Deprecated==1.2.13
Flask==2.0.3
Flask-Caching==1.10.1
Flask-JWT-Extended==4.3.1
Flask-Mail==0.9.1
Flask-Pydantic==0.9.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
packaging==21.3
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.7
python-dotenv==0.19.2
redis==4.2.0
six==1.16.0
SQLAlchemy==1.4.31
typing-extensions==4.1.1
validators==0.18.2
Werkzeug==2.0.3
wrapt==1.14.0
